* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #489bc1;
}
.container {
  background-color: #ffffff;
  padding: 1rem 2rem;
}
.main-input {
  border-color: #a09e89;
  border: 2px solid #a09e89;
  width: 30rem;
  font-style: italic;
  color: #395c60;
  height: 2rem;
}
.wrapper .container .top-block h3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.progress {
  width: 10rem;
  height: 2rem;
}
.progress-bar {
  background-color: yellow;
  height: 100%;
}
